:root{
    --red: red;
    --lightpink: #FFD2E0;
    --lightgray: lightgray;
}

/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

ul,ol,menu{
    list-style: none;
}

/* LAYOUT */
.container{
    max-width: 800px;
    margin: 0 auto;
}

.delete-icon{
    color: var(--red);
}

/* UTILITIES */
.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

.line-through{
    text-decoration: line-through;
}

.text-center{
    text-align: center;
}

.p-relative{
    position: relative;
}

/* HEADER */

.main-header{
    padding: 30px 0;
    background-color: var(--lightpink);
}

/* MAIN */

.main-content{
    padding: 30px 0;
}

.input-todo{
    width: 100%;
    padding: 10px;
    border-radius: 999px;
}

.input-todo + button{
    width: 40px;
    padding: 3px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
}

/* TODO-LIST */

.todo-list{
    padding: 30px 0;
}

.todo-list li{
    padding: 10px 20px;
    border-radius: 999px;
}

.todo-list li:hover{
    background-color: #eaeaea;
}

.todo-list .delete-icon{
    margin-right: 20px;
}