:root{
    --red: red;
}

/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,menu{
    list-style: none;
}

/* LAYOUT */
.container{
    max-width: 800px;
    margin: 0 auto;
}

.row{
    padding: 50px 0;
}

.delete-icon{
    color: var(--red)
}

/* UTILITIES */
.d-flex{
    display: flex;
    justify-content: space-between;
}

.line-through{
    text-decoration: line-through;
}